button {
  display: block;
  margin: 20px auto;
}
.small {
  padding: 4px 10px;
}
.medium {
  padding: 5px 15px;
}
.large {
  padding: 6px 20px;
}
.light {
  background-color: #9b9b9b;
}
.dark {
  color: white;
  background-color: #193384;
}
.primary {
  border: 2px solid #193384;
}
.secondary {
  color: #9b9b9b;
  border: 2px solid #9b9b9b;
}
.tertiary {
  border: 0;
}
