button {
  display: block;
  margin: 20px auto;
  border: 0;
  background-color: transparent;
  color: white;
  font-weight: 900;
}
.small {
  padding: 5px 18px;
}
.medium {
  padding: 15px 55px;
}
.large {
  padding: 7px 45px;
}
.light {
  background-color: #9b9b9b;
}
.dark {
  background-color: #193384;
}
.primary {
  border: 2px solid #193384;
}
.secondary {
  color: #9b9b9b;
  border: 2px solid #9b9b9b;
}
.tertiary {
  border: 0;
}
