button {
  display: block;
  margin: 20px auto;
  border: 0;
  background-color: transparent;
  color: white;
  font-size: 14px;
  font-weight: 900;
}
.small {
  padding: 15px 45px;
}
.medium {
  padding: 15px 75px;
}
.large {
  padding: 15px 110px;
}
.light {
  background-color: #9b9b9b;
}
.dark {
  background-color: #193586;
}
.light-color {
  color: #9b9b9b;
}
.dark-color {
  color: #193384;
}
.primary {
  color: #193384;
  border: 2px solid #193586;
}
.secondary {
  color: #9b9b9b;
  border: 2px solid #9b9b9b;
}
