ul {
  margin: 2rem;
  list-style: none;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}
li {
  border: 1px solid #dbdbdb;
  color: #4a4a4a;
  padding: 15px 20px;
  cursor: pointer;
}
li:hover {
  background-color: whitesmoke;
  border-color: #b5b5b5;
}
li:first-child {
  border-top-left-radius: 45%;
  border-bottom-left-radius: 45%;
}
li:last-child {
  border-top-right-radius: 45%;
  border-bottom-right-radius: 45%;
}
.isActive {
  background-color: #3273dc;
  border-color: #3273dc;
  color: white;
}
.isActive:hover {
  background-color: #3273dc;
  border-color: #3273dc;
}
