.container {
  display: block;
  width: 90vw;
  margin: 0 auto;
}
.card {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 300px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #4a4a4a;
  max-width: 100%;
  margin: 10px;
}
.card-content {
  padding: 1.5rem;
}
.media {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
